---
import Layout from '../layouts/Layout.astro';
import BlqInfo from '../components/BlqInfo.astro';
import BlqInfoIzq from '../components/BlqInfoIzq.astro';

---

<Layout title="Habitacion Michi">
	<main class="main-content">
		
    <BlqInfo src='/vitto.webp' alt='' title='VISION' puno='El principal objetivo de Habitación Michi es construir un albergue para gatitos rescatados, brindándoles un espacio seguro mientras encuentran un hogar. '  pdos='La visión es convertir este albergue en un refugio autosostenible, donde los gatos reciban atención médica y sean adoptados por familias responsables. '  ptres='Tener esta visión clara nos permitirá trazar metas específicas, como recaudar fondos, avanzar en la construcción y fortalecer la red de adopciones.'  textBagde='Suscribete' gradient='var(--color-pink)'/>
    <BlqInfoIzq src='/comoapoyar.webp' alt='' title='¿COMO APOYAR EL PROYECTO?' puno='Nos encontramos en una etapa crucial para hacer realidad "Habitación Michi", un proyecto que nació de la necesidad urgente de proporcionar un refugio seguro, adecuado y permanente para gatitos rescatados en situación de vulnerabilidad.'  pdos='Nuestro objetivo es alcanzar 2000 suscriptores en Instagram antes de que termine el año; con su apoyo, podremos iniciar la construcción en enero de 2025. '  ptres='Al unirte a nuestra comunidad, no solo estás contribuyendo a un espacio físico donde estos animales puedan recibir el cuidado y la rehabilitación que necesitan, sino que estás siendo parte de un cambio real y significativo.Suscríbete y ayúdanos a dar el primer paso hacia un futuro más compasivo para ellos.'  textBagde='Suscribete' gradient='var(--color-pink)'/>
    <BlqInfo src='/avanceproyecto.webp' alt=''  title='AVANCES DEL PROYECTO' puno='Actualmente, Habitación Michi ha alcanzado un hito significativo: ya contamos con un terreno donde podremos construir el albergue para gatitos rescatados. Nos encontramos ahora en una etapa clave en la que necesitamos el apoyo de arquitectos voluntarios para desarrollar planos que se adapten a las necesidades específicas de este proyecto. Además, buscamos comenzar a financiar la construcción, y seguimos abiertos a donaciones, campañas de recaudación y a la participación en nuestros sorteos benéficos.'  pdos='Para lograr que este sueño avance, necesitamos también el apoyo de la comunidad en redes. Al suscribirte a nuestro Instagram, estás contribuyendo a que esta iniciativa gane visibilidad y pueda alcanzar a más personas comprometidas. Si logramos llegar a 2000 suscriptores antes de fin de año, podremos iniciar la construcción en enero de 2025. '  ptres='Tu suscripción es un paso esencial para hacer de Habitación Michi un refugio que transformará la vida de innumerables gatitos en situación de abandono. ¡Únete y sé parte de este gran cambio!'  textBagde='Suscribete' gradient='var(--color-pink)'/>
    <BlqInfoIzq src='/imgdosauno.svg' alt='' title='¡DESCUBRE CÓMO PODRÍA SER HABITACIÓN MICHI!' puno='Nuestro video referencial te permitirá imaginar el refugio que cambiará la vida de miles de gatitos rescatados. Cada detalle ha sido pensado para brindarles el amor y cuidado que merecen, y tú puedes ser clave en hacerlo posible.'  pdos='Necesitamos tu apoyo para convertir esta visión en realidad. Suscribete, comparte, o participa en nuestros futuros proyectos. Cada acción cuenta, y juntos podemos crear un hogar seguro para nuestros amigos de cuatro patas.'  ptres='Comparte nuestro mensaje en redes, súmate a nuestra comunidad en Instagram y ayúdanos a llegar a más personas.'  textBagde='Suscribete' gradient='var(--color-pink)'/>
 
    
   

    

    
    
	</main>
	
  
</Layout>

<style>
/* Contenedor Principal (main) */
.main-content {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}


</style>
